<div class="clearfix borderbox" id="page"><!-- column -->
    <div class="clip_frame colelem" id="u94"><!-- image -->
        <img class="block" id="u94_img" src="../assets/img/burger.png" alt="" data-image-width="95"
             data-image-height="90"/>
    </div>
    <div class="clearfix colelem" id="u104-4"><!-- content -->
        <p>Eat-Da-Burger!</p>
    </div>


    <form action="/" method="post" id="widgetu118" class="form-grp clearfix colelem">
        <label for="widgetu129_input">
            <span class="actAsPara">Enter a burger you want to eat Click the "Submit" button</span>
        </label>
        <span class="fld-textarea actAsDiv clearfix grpelem" id="u130-4">
            <input type="text" class="wrapped-input" name="burger_name" id="widgetu129_input">
        </span>

        <button type="submit" class="submit-btn NoWrap rounded-corners clearfix grpelem" id="u133-4">Submit</button>
    </form>


    <div class="verticalspacer" data-offset-top="380" data-content-above-spacer="380"
         data-content-below-spacer="120">
        <!--all !devoured burgers-->
        <div id="u228">
            <ul>
                {{#each burgers}}
                    {{#unless this.devoured}}
                        <li>
                            {{this.id}}.
                            {{this.burger_name}}
                            <form action="/{{this.id}}?_method=PUT" method="POST">
                                <input type="hidden" name="devoured" value="true">
                                <input type="text" id="u228-E" name="customer_name" placeholder="Customer" value="">
                                <button class="button submit-btn" type="submit">Devour it!</button>
                            </form>
                        </li>
                    {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div id="u266">
            <ul>
                {{#each burgers}}
                    {{#if this.devoured}}
                        <li>
                            {{this.id}}.
                            {{this.Customer.customer_name}}
                            Devoured the
                            {{this.burger_name}}
                        </li>
                    {{/if}}
                {{/each}}
            </ul>

        </div>
    </div>
</div>